.buttom{
   margin-top: 10%;
    text-align: center;
    background-color: rgb(12, 5, 54);
    margin-bottom: 0px;

}
.copyrightText{
    color: #fff;
    padding: 20px 0px;
    margin-bottom: 0px;
}
